<div class="container my-4">
  <h3 class="display-5 text-center">
    <i class="fa-solid fa-link"></i>
    Links
  </h3>
    <p class="lead fs-4 text-center">Todos os links de utilidade aqui...</p>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2 class="text-white">Franquias Avatim</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark text-white" *ngFor="let link of linksFiltrados">
              <a class="link-light" [href]="_sanitizer.bypassSecurityTrustResourceUrl(link.urlLink)" target="_blank">
                <i class="fa-solid fa-link" style="font-size: 20px;"></i>
                {{link.titulo}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-success border rounded-3">
          <h2 class="text-white">Distribuição Avatim</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-success text-dark" *ngFor="let link of linksDistFiltrados">
              <a class="link-dark" [href]="_sanitizer.bypassSecurityTrustResourceUrl(link.urlLinkDist)" target="_blank">
                <i class="fa-solid fa-link" style="font-size: 20px;"></i>
                {{link.tituloDist}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>

