<div class="container text-center pt-5 pb-3">
  <h1 class="display-4">
    <i class="fa-regular fa-file-lines"></i>
    Manuais Cadastros
  </h1>
  <p class="lead">Todos os manuais em um único lugar...</p>
  <input type="text" class="form-control rounded-pill my-4"
  placeholder="Pesquisar"  [(ngModel)]="filtroLista">
  <hr class="my-4">
  <div class="scrollspy-site">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Arquivo</th>
          <th scope="col">Titulo</th>
          <th scope="col">Visualizar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let manual of manuaisFiltrados">
          <th scope="row">
            <i class="fa-solid fa-file-pdf mt-2" style="font-size: 32px;"></i>
          </th>
          <td class="mt-2">{{manual.nome}}</td>
          <td><a class="btn btn-secondary"
            href={{manual.arquivo}}
            target="blank">
            <i class="fa-solid fa-download"></i>
            Baixar
          </a>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



