<header>
  <app-nav></app-nav>
</header>
<main>
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 text-center">Portal manuais Avatim</h1>
      <p class="lead fs-4 text-center">O portal de manuais é um espaço reservado para suas dúvidas...
      </p>
      <router-outlet></router-outlet>
        <hr class="my-2">
        <app-videos></app-videos>
        <app-manuais></app-manuais>
        <app-links></app-links>
    </div>
  </div>
  <app-footer></app-footer>
