<div class="container my-1">
  <h3 class="display-5 text-center">
    <i class="fa-solid fa-tv d-none d-md-inline"></i>
    Gerência
  </h3>
    <p class="lead fs-4 text-center">Todos os vidoes em um unico lugar...</p>
    <div class="d-flex">
      <input class="form-control shadow p-3 my-2 bg-body rounded-pill" type="search"
      placeholder="Pesquisar" aria-label="Search" (input)="Search($event)" >
      <i class="fa fa-search rounded-pill my-4 mx-2" style="font-size: 38px;"></i>
    </div>
    <div class="row align-items-md-stretch scrollspy-site">
      <div class="col-lg-4 col-md-4 col-sm-6 my-4" *ngFor="let video of videosFiltrados">
          <strong class="text-dark mt-4">
            <i class="fa-brands fa-youtube mx-2 my-4" style="font-size: 30px;"></i>
            {{video.titulo}}
          </strong>
          <p class="lead mx-2">{{video.descricao}}</p>
          <div class="box">
            <iframe class="shadow p-1 bg-dark"
              [src]="_sanitizer.bypassSecurityTrustResourceUrl(video.urlVideo)"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
            ></iframe>
          </div>
      </div>
    </div>
</div>





