<h1 class="display-4 pt-5 pb-3">
  <i class="fa-solid fa-book"></i>
  Manuais Avatim
</h1>
<hr class="my-4">
<p class="lead">Portal de manuais para auto ajuda,
  e videos treinamentos para auxiliar na produtividade...</p>
  <carousel>
    <slide>
        <img class="img-cover" src="./assets/images/1.jpg" alt="carrousel">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-white">Facilite seu dia</h3>
          <p>Tudo em um só lugar encontre manuais para todos procedimentos.</p>
        </div>
    </slide>
    <slide>
      <img class="img-cover" src="./assets/images/2.jpg" alt="carrousel">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white">Turbine seu aproveitamento</h3>
        <p>Alcançe melhores resultados pesquisando todo conteúdo deste portal</p>
      </div>
  </slide>
  <slide>
    <img class="img-cover" src="./assets/images/3.jpg" alt="carrousel">
    <div class="carousel-caption d-none d-md-block">
      <h3 class="text-white">Mantenha seu foco</h3>
      <p>Assita a videos treinamentos aqui no portal e potencialize seu aprendizado</p>
    </div>
</slide>
  </carousel>
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Canal Avatim Tehc</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h2>
            <i class="fa-solid fa-screwdriver-wrench"></i>
            Ferramentas
          </h2>
          <p>Nosso time de tecnologia sempre desenvolvendo soluções para
            proporcionar as melohres experiençias </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h2>
            <i class="fa-solid fa-microchip"></i>
            Inovação
          </h2>
          <p>Um canal de relacionamento onde voçe pode encontrar videos treinamentos, e
            manuais de realização de procedimentos.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <div>
          <h2>
            <i class="fa-solid fa-people-group"></i>
            Nosso time
          </h2>
          <p>Sempre em prontidão para ajudar.
            entre em contato conosco em nossos canais de atendimento.</p>
        </div>
      </div>
    </div>
  </div>
